<div class="img-box">
    <img src="../../assets/template/images/audi-r8.jpg" alt="">
    <h1>Audi R8</h1>
</div>  <br>

<form action="traitement.php" method="post">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required><br>
  
    <label for="prenom">Prénom :</label>
    <input type="text" id="prenom" name="prenom" required><br>
  
    <label for="email">Email :</label>
    <input type="email" id="email" name="email" required><br>
  
    <label for="cin">CIN :</label>
    <input type="text" id="cin" name="cin" required><br>
  
    <label for="telephone">Téléphone :</label>
    <input type="tel" id="telephone" name="telephone" required><br>
  
    <label for="date_commande">Date de commande :</label>
    <input type="date" id="date_commande" name="date_commande" required><br>
  
    <input type="submit" value="passer commande">
  </form>
  

<br><br><br><br><br><br><br>

  
  
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>