/* Style pour la barre de navigation */
.navbar {
    background-color: #f8f9fa; /* Couleur de fond */
    padding: 1rem; /* Espacement intérieur */
  }
  /* Style pour le lien actif lors du survol */
.navbar-nav .nav-item.active .nav-link:hover {
    color: #b30000; /* Couleur du texte pour le lien actif au survol */
  }
  /* Style pour le texte de la barre de navigation */
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #343a40; /* Couleur du texte */
  }
  
  /* Style pour le bouton de basculement */
  .navbar-toggler {
    border-color: #343a40; /* Couleur de la bordure */
  }
  
  /* Style pour l'icône du bouton de basculement */
  .navbar-toggler-icon {
    background-color: #343a40; /* Couleur de l'icône */
  }
  
  /* Style pour l'effet de survol des liens */
  .navbar-nav .nav-link:hover {
    color: #007bff; /* Couleur du texte au survol */
  }
  
  /* Style pour le lien actif */
  .navbar-nav .nav-item.active .nav-link {
    color: #007bff; /* Couleur du texte pour le lien actif */
  }
  
  /* Style pour le lien actif lors du survol */
  .navbar-nav .nav-item.active .nav-link:hover {
    color: #0056b3; /* Couleur du texte pour le lien actif au survol */
  }
  