<section class="about_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 px-0">
          <div class="img-box">
            <img src="../../assets/template/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="detail-box">
            <h2>
              About Our Cars
            </h2>
            <p>
              C’est un fait établi depuis longtemps qu’un lecteur sera distrait par le contenu lisible d’une page lorsqu’il regardera sa mise en page. L’intérêt d’utiliser Lorem            </p>
            <a href="">
             
Lire la suite
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
