<div class="member">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="home">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="login1">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users">Client</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              voitures
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="add">neveaux voiture</a>
              <a class="dropdown-item" href="#">Vo.commande</a>
              <a class="dropdown-item" href="#">Vo.vendu</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <BR><BR><BR><BR><BR><BR>
  <div class="container">
    <div class="img-box">
      <img src="../../assets/template/images/luxe1.jpg" alt="">
      <P> Prix:   700000 DT <BR>
        <a href="commande">
        <button type="button" class="btn btn-link">Luxe</button>
    </a>    
      </P>
    </div>
    <div class="img-box">
        <img src="../../assets/template/images/tayotaCorolla.jpg" alt="">
        <p> Prix: 800000 DT <br>
          <a href="commandee">
          <button type="button" class="btn btn-link">tayotaCorolla</button>
        </a>
        </p>
      </div>
      
      
      
    <div class="img-box">
      <img src="../../assets/template/images/chevroletSportive.jpg" alt="">
      <P> Prix:   900000 DT <BR>
        <a href="commandes">
        <button type="button" class="btn btn-link">chevroletSportive</button>
        </a>
      </P>
    </div>
  </div>
  <div class="container">
    <div class="img-box">
      <img src="../../assets/template/images/luxe1.jpg" alt="">
      <P> Prix:   700000 DT <BR>
        <a href="commande">
        <button type="button" class="btn btn-link">Luxe</button>
    </a>    
      </P>
    </div>
    <div class="img-box">
        <img src="../../assets/template/images/audi-r8.jpg" alt="">
        <p> Prix: 800000 DT <br>
          <a href="commande1">
          <button type="button" class="btn btn-link">Audi R8</button>
        </a>
        </p>
      </div>
      
      
      
    <div class="img-box">
      <img src="../../assets/template/images/BMW.jpg" alt="">
      <P> Prix:   900000 DT <BR>
        <a href="commande2">
        <button type="button" class="btn btn-link">BMW</button>
        </a>
      </P>
    </div>
  </div>
  
  <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR>
    <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR>
        <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR> <BR>