<!-- contact-form.component.html -->

<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Request A call back</h2>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="form_container">
          <form (ngSubmit)="submitForm()" #contactForm="ngForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputName" placeholder="Nom" name="name" ngModel>
              </div>
              <div class="form-group col-md-6">
                <input type="tel" class="form-control" id="inputTelephone" placeholder="Téléphone" name="telephone" ngModel>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" ngModel>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="inputMessage" placeholder="Message" name="message" ngModel>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="contact_items">
      <div class="img-box">
        <img src="../../assets/template/images/location.png" alt="">
      </div>
      <h6>Loram Ipusum ari lo elisant na</h6>
      <div class="img-box">
        <img src="../../assets/template/images/call.png" alt="">
      </div>
      <h6>()</h6>
      <div class="img-box">
        <img src="../../assets/template/images/mail.png" alt="">
      </div>
      <h6>jakhloutisondes@gmail.com</h6>
    </div>
    <div class="social_container">
      <div class="social-box">
        <div>
          <a href="#">
            <img src="../../assets/template/images/fb.png" alt="">
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../../assets/template/images/twitter.png" alt="">
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../../assets/template/images/linkedin.png" alt="">
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../../assets/template/images/insta.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>