<div>
  <br><br><br><br><br>
  <h2>list voitures</h2>
  <table class="table table-dark">
      <thead>
          <tr>
              <th>id</th>
              <th>marque</th>
              <th>annee</th>
              <th>prix</th>
              <th>matricule</th>
              <th>numDeChoussi</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let voiture of voitures">
              <td>{{voiture.id}}</td>
              <td>{{voiture.marque}}</td>
              <td>{{voiture.annee}}</td>
              <td>{{voiture.prix}}</td>
              <td>{{voiture.matricule}}</td>
              <td>{{voiture.numDeChoussi}}</td>
              <td><button (click)="delete(voiture.id)">Delete</button></td>
          </tr>
      </tbody>
  </table>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div>
  <br><br><br><br><br>
  <h2>list voitures 2</h2>
  <table class="table table-dark">
      <thead>
          <tr>
              <th>id</th>
              <th>marque</th>
              <th>annee</th>
              <th>prix</th>
              <th>matricule</th>
              <th>numDeChoussi</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let voiture of voitures">
              <td>{{voiture.id}}</td>
              <td>{{voiture.marque}}</td>
              <td>{{voiture.annee}}</td>
              <td>{{voiture.prix}}</td>
              <td>{{voiture.matricule}}</td>
              <td>{{voiture.numDeChoussi}}</td>
              <td><button class="btn btn-danger" (click)="confirmationDelete(voiture)">Delete</button></td>&nbsp;
              <button class="btn btn-primary"  (click)="updateVoiture(voiture.id)">Update</button>
          </tr>
      </tbody>
  </table>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this Voiture?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="closeDelete()">No</button>
            <button type="button" class="btn btn-danger" (click)="deleteVoiture()">Yes</button>
        </div>
      </div>
    </div>
  </div>